@import '../../Styles/base.scss';

.add {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px 5px;
  border-bottom: 1px solid #cccccc;
  @media screen and (max-width: 479px) {
    width: 95%;
    padding: 10px;
  }
}

form > * {
  background: transparent;
  border: none;
  height: 35px;
}

input {
  width: 100%;
}

input[type='text'] {
  padding: 0 0 0 15px;
  font-weight: 700;
  font-size: 2 * $font-size;
  color: #c7c7c7;
  outline: none;
  @media screen and (max-width: 991px) {
    font-size: 1.5 * $font-size;
  }
  @media screen and (max-width: 479px) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

input[type='submit'] {
  display: none;
}
