@import './normalize.css';
@import './base.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background: $background-color;
  color: $add-font-color;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  @media screen and (max-width: 991px) {
    padding: 70px 0;
  }
  @media screen and (max-width: 767px) {
    padding-top: 0;
  }
  @media screen and (max-width: 479px) {
  }
}
