.bullet {
	width: 20px;
	height: 20px;
	background: url('../assets/bullet.png') no-repeat center center;
	background-size: contain;
	border-radius: 50%;
	border: none;
	position: absolute;
}
