.modal {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
	width: 40%;
	max-width: 600px;
	height: 30%;
	max-height: 500px;
	top: calc(28%);
	background: $color-dark-grey;
	box-shadow: 2px 2px 2px 0 rgba(21, 21, 21, 0.67);
	font-family: $font-family;
	font-size: 3rem;
	border-radius: 20px;
	text-align: center;
	color: $color-yellow;
	font-weight: bold;

	.play-button {
		height: 45px;
		width: 125px;
		border-radius: 10px;
		border: none;
		font-weight: 600;
		cursor: pointer;

		&:hover {
			opacity: 0.8;
		}
	}
}
