.todoList {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 35%;
	height: 70%;
	background: #171717;
	border-radius: 10px;
	box-shadow: 0 7px 30px rgba(75, 70, 6, 0.3);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content {
	height: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
