@import '../../Styles/base.scss';
.todoList {
  width: 100%;
  height: 100%;
  min-width: 230px;
  max-width: 600px;
  background: #171717;
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(75, 70, 6, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 991px) {
    width: 100%;
    height: 100%;
    max-width: 550px;
    justify-content: flex-start;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    max-width: 500px;
    height: 100vh;
    justify-content: flex-start;
  }
  @media screen and (max-width: 479px) {
  }
}

.content {
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 991px) {
    padding: 25px 0 0;
  }
  @media screen and (max-width: 767px) {
    justify-content: space-between;
    padding: 5px 0 0 0;
    border-radius: 0;
  }
  @media screen and (max-width: 479px) {
    justify-content: space-between;
    padding: 5px 0 0 0;
    border-radius: 0;
  }
}
